@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic|Sawarabi+Mincho');

body {
    font-size: 16px;
    font-family: 'Sawarabi Gothic', sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'Sawarabi Gothic', sans-serif;
}

h1 {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 2.5em;
    letter-spacing: 0.5rem;
}

h3 {
    font-size: 1.5rem;
}

#secret-word {
    color: #D6BE3F;
}

.background {
    background: url('../images/philadelphia.jpg') no-repeat center;
    height: 100vh;
    position: fixed;
    right: 0;
    left:0;
    color: #fff;
}

#background {
    position: fixed;
    width: 100%;
    object-fit: cover;
    top: -100px;
    z-index: -1;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay {
    background-color: rgba(33,33,33,0.8);
    outline: 8px solid #CFCFCF;
}

.message {
    height: 90px;
}

#message-output, #letters-guessed {
    font-size: 1.25rem;
}

#secret-word {
    letter-spacing: 30px;
}

#letters-guessed {
    height: 32px;
}


@media screen and (min-width: 991px) {
    h1 {
        font-size: 4em;
        letter-spacing: 1rem;
    }
    #message-output {
        font-size: 1.75rem;
    }
    #letters-guessed {
        font-size: 1.876rem;
    }
}